NODE_ENV=production
PORT=3000

PASSENGER_APP_URL=https://taxi.cognilabs.org/
DRIVER_APP_URL=https://taxi.cognilabs.org/driver/
ADMIN_URL=https://taxi.cognilabs.org/admin/

DATABASE_URL=postgresql://taxigo:CHANGE_ME@postgres:5432/taxigo_db
REDIS_URL=redis://redis:6379
OSRM_URL=http://osrm:5000

JWT_SECRET=CHANGE_ME_LONG_SECRET
ADMIN_JWT_SECRET=CHANGE_ME_LONG_ADMIN_SECRET
ADMIN_TELEGRAM_IDS=5737465114
TELEGRAM_BOT_TOKEN=CHANGE_ME
TELEGRAM_PAYMENT_TOKEN=

YANDEX_MAPS_API_KEY=
YANDEX_GEOCODER_API_KEY=
YANDEX_ROUTER_API_KEY=

PAYME_MERCHANT_ID=
PAYME_SECRET_KEY=
PAYME_TEST_SECRET_KEY=
PAYME_IS_TEST=false

CLICK_MERCHANT_ID=
CLICK_SERVICE_ID=
CLICK_SECRET_KEY=

UPLOAD_DIR=./uploads
SOCKET_CORS_ORIGIN=https://taxi.cognilabs.org
DRIVER_LOCATION_TTL=30

POSTGRES_PORT=5433
REDIS_PORT=6380
OSRM_PORT=5000
BACKEND_PORT=3000
PASSENGER_PORT=5173
DRIVER_PORT=5174
ADMIN_PORT=5175
GATEWAY_PORT=80
